@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@media only screen and (max-width: 600px) {
    #mimp {
        display: inline-block;
        padding-right: 20px;
        padding-left: 50px;
    }
  }

body {
    box-sizing: border-box;
}

body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#emailHelp {
    color: rgb(153, 96, 22);
}

.shadow{
    box-shadow: 3px 3px 8px #ccc;
}

form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0px 0px 30px 20px rgba(92, 99, 105, 1);
}

.submitBtn {
    display: inline;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgb(0, 45, 128);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}
  
  .submitBtn:hover {
    background-color: #67bac5;
    transform: translateY(-2px);
}

a > span {
    color: white;
}

#mimp {
    display: inline-block;
    padding-right: 20px;

}

#pmimp {
    display: inline-block;
    vertical-align: middle;
}

